global
    log stdout format raw local0

defaults
    mode http
    log global

    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    default_backend proxy_go

backend proxy_go
    balance roundrobin

    server server1 proxy1:9000 check resolvers docker

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s
